

/*STYLE DROPDOWN BOTTOM*/
.menu-btn-backgroun-color{
  background-color: #CD760F;
  padding-top: 35px;
  padding-bottom: 35px;  
}

/* Estilo de botón Drpdown */
.dropbtn {
  font-family: 'Balsamiq Sans','Work Sans', sans-serif;
  background-color: #CD760F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* Ubica los elementos horizontalmente en el contenedor <div> */

.dropdown {
  position: relative;
  display: inline-block;
}

/*desplega Submenú, está oculto por defecto*/
.dropdown-content {
  font-family: 'Balsamiq Sans','Work Sans', sans-serif;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.432);
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/*Submenús dentro del menú desplegable*/
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Cambia el color al pasar el mouse por los submenús*/
.dropdown-content a:hover {background-color: rgba(0, 0, 0, 0.233)}

/*Muestra el menú desplegable al pasar el muse por el menú padre*/
.dropdown:hover .dropdown-content {
  display: block;
}

/*Cambiar el color de fondo del botón desplegable cuando se muestra el contenido del menú desplegable*/
/*
.dropdown:hover .dropbtn {
  background-color: #CD760F;
}
*/

/*STYLE CCTET CORPORATIONS LOGO*/

#style-corporations-logo{
  width: 5px;
  height: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
}


/*NUESTRA APUESTA*/
.nuestra-apuesta{
  text-align: center;
  text-emphasis-color: rgb(0,0,0);
  margin-top: 50px;

}

/*FILTROS DE IMAGENES*/
img {
  filter:  brightness(50%);;
}


h1{
  font-family: 'Balsamiq Sans','Raleway','Work Sans', 'sans-serif'; 
}
h5{
  font-family: 'Balsamiq Sans','Raleway','Work Sans', 'sans-serif'; 
}
p{
  font-family: 'Balsamiq Sans','Raleway','Work Sans', 'sans-serif'; 
}
.delett-space-nav-carroucel{
  margin-bottom: -17px;
}

/*NUESTROS PROYECTOS CARD OR GRID DESING*/
/*
#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 35px;
  margin-left: 35px;
  margin-right: 35px;

}
*/
#separate-space-betwen-card {
  
  column-gap: 35px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  
  
}



#separate-space-betwen-card > div {
  border: 1px solid blanchedalmond;
  background-color: #80deea;
}

#style-card-grid-text{
  text-align: center;
  font-family: 'Balsamiq Sans','Work Sans', sans-serif;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
}

/*PROYECTOS EN CURSO*/
.proyectos-en-curso{
  text-align: center;
  text-emphasis-color: #4bacb8;
  margin-top: 45px;
  background-color: #ffff
  ;
  padding-top: 20px;
}

/*tamaño imagenes slider proyectos en curso*/
#id-tamanno-img{
  height: 400px;
  padding: 20px;
}

