

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #ffb74d;
  position: sticky;
  width: 100%;
  padding: 0;
  margin: 0;
  
  
  
}

li {
  float: right;
  font-family: 'Balsamiq Sans','Work Sans', sans-serif;
  
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 38px 40px;
  text-decoration: none;
  font-family: 'Balsamiq Sans','Work Sans', sans-serif;
  
}

/* Para cambiar el color cuando pasa el mouse por encima */
li a:hover {
  background-color: #c88719
  
}
/*NUESTRA APUESTA*/
.nuestra-apuesta{
  text-align: center;
  text-emphasis-color: rgb(0,0,0);
  margin-top: 50px;

}

img {
  filter: grayscale(100%);
}


h1{
  font-family: 'Balsamiq Sans','Raleway','Work Sans', 'sans-serif';
  
 
}

.delett-space-nav-carroucel{
  margin-bottom: -17px;
}

/*CARD OR GRID DESING*/

#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 35px;
  margin-left: 35px;
  margin-right: 35px;

}

#grid > div {
  border: 1px solid blanchedalmond;
  background-color: #80deea;
}

#style-card-grid-text{
  text-align: center;
  font-family: 'Balsamiq Sans','Work Sans', sans-serif;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
}

/*PROYECTOS EN CURSO*/
.proyectos-en-curso{
  text-align: center;
  text-emphasis-color: #4bacb8;
  margin-top: 180px;
  background-color: #ffffff;
 

}